                          .red{
                            background-color: rgb(117, 218, 231);
                            color: red;
                          }                                                           

                          .blue {
                            color: rgb(118, 200, 233);
                          }